@using BlogPessoal.Web.Models
@model IEnumerable<Autor>
@{
    ViewBag.Title = "Index";
}

<h2>Autores</h2>
<div>
    @Html.ActionLink("Novo", "Create")
</div>
<table class="table">
    <tr>
        <th>
            Autor
        </th>
        <th>
            Email
        </th>
        <th>
            Data Criação
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Nome</td>
        <td>@item.Email</td>
        <td>@item.Data_Cadastro</td>
        <td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id })
            @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
        </td>
        </td>
    </tr>

    }
</table>
